body {
  background-color: black;
}
.common {
  border: 2px solid black;
  position: absolute;
}
.nav {
  position: relative;
  float: right;
  background-color: beige;
  z-index: 2;
  font-size: small;
}
.header {
  background-color: azure;
  text-align: center;
  left: 0px;
  right: 0px;
  top: 0px;
  height: auto;
  z-index: 1;
}
.main {
  background-color: cadetblue;
  top: 80px;
  left: 50px;
  right: 50px;
  bottom: auto;
}
.footer {
  text-align: center;
  font-style: italic;
  font-size: 40%;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: auto;
  background-color: azure;
  position: fixed;
}
img {
  width: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
